

/* CONFIGURACIÓN GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000000;
    color: white;
    text-align: center;
}


h1 strong {
    color: #04eb2b; /* El color verde neón */
    text-shadow: 0 0 15px rgba(6, 250, 47, 0.7); /* El brillo neón */
    text-transform: uppercase; /* Opcional: para que todo sea en mayúsculas */
}

h1 {
    margin-top: 80px;
    font-size: 3.5rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(8, 214, 18, 0.6);
}

/* BOTÓN VOLVER AL INICIO */
.btn-volver-inicio {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 50px; /* Botón más redondeado */
    padding: 10px 20px;
    transition: 0.3s;
    background: #ffffff;
}


/* CONTENEDOR DE LAS MARCAS */
.contenedor-marcas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    padding: 40px;
}

/* ESTILO DE LA TARJETA (ESTILO TICKET) */
.cuadro {
    position: relative;
    width: 260px; /* Más estrecho */
    height: 420px; /* Más alto */
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 50px; /* Bordes muy curvos */
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    background-size: 100%; /* Tamaño inicial de la foto */
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}



/* ENLACE Y TEXTO QUE APARECE */
.cuadro a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end; /* Alinea el texto abajo */
    justify-content: center;
    text-decoration: none;
    z-index: 10;
}

.cuadro span {
    margin-bottom: -40px; /* Escondido abajo */
    color: #00ff00;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background: rgba(17, 6, 7, 0.8);
    width: 100%;
    padding: 20px 0;
    transition: 0.6s;
    opacity: 0;
}

.cuadro:hover span {
    margin-bottom: 0; /* Aparece al subir */
    opacity: 100;
}

/* IMÁGENES DE FONDO */
.marca-adidas { background-image: url('adidas.png'); }
.marca-nike { background-image: url('Nike.png'); }
.marca-puma { background-image: url('Puma.png'); }
.marca-nb { background-image: url('NW.png'); }
 

